*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}
.header{
    // display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.849),rgba(0, 0, 0, 0.267)), url(../img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .nav{
        display: flex;
        flex-wrap: wrap;
        // width: 100%;
        align-items: center;
        justify-content: flex-end;
        // background-color: red;
        .logo{
            display: flex;
            margin-right: 720px;
            height: 2rem;
        }
        .list{
            flex-wrap: wrap;
            display: flex;
            color: rgba(255, 255, 255, 0.753);
            font-size: 1rem;
            cursor: pointer;
            font-weight: 400;
            li{
                list-style: none;
                padding:2rem 0;
                margin-right: 60px;
            }
        }
    }

    &-heading{
        color: white;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        font-size: 2.2rem;
        margin-top: 150px;
    }
    &-links{
        display: flex;
        margin-right: 60px;
        justify-content: flex-end;
        .list-2{
            list-style: none;
           .icon{
               font-size: 1.2rem;
               color: white;
           }
           li{
               padding: .7rem 0;
           }
        }
    }
}